body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

h1 {
    color:rgb(0, 0, 0);
    background-color: antiquewhite;
    text-align: center;
    margin: 0;
}

h2 {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    padding: 4px;
}

img {
    margin: 20px 0;
    display: block;
}

#pizza-link {
    color:red;
    font-family: Papyrus, "Lucida Handwriting", cursive;
    font-size: 16px;
    font-weight: 500;
}

#fried-chicken-link {
    color: orange;
    font-family: "Lucida Console", Garamond, monospace;
    font-size: 15px;
    font-weight: 700;
}

#burger-link {
    color:brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.list {
    margin: 20px;
    background-color: rgba(3, 255, 255, 0.092);
    width: 300px;
    padding: 20px;
    border: 2px solid black;
}

.small {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.content {
    margin: 20px;
}
